.transactions-list-tools {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	position: sticky;
	top: 0;
	background: white;
}

.transactions-list-wrapper {
	display: flex;
	justify-content: center;
}

.transactions-list {
	border: 1px solid #878da1;
	border-radius: 5px;
	text-align: left;
	border-collapse: collapse;
}

.transactions-list td, .transactions-list th {padding: 5px;}
.transactions-list-sender, .transactions-list-recipient {width: 200px;}
.transactions-list-note {width: 250px;}

tr.selected {background-color: #7c8082;}
.transactions-list tr:hover {background-color: #7c8082;}

.transactions-list .money {
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	.transactions-list-wrapper {
		color: #b0b7d1;
	}
	
	tr.selected {background-color: #232323;}
	.transactions-list tr:hover {background-color: #232323;}
}