.graph-top {
	display: flex;
}

.graph-y-axis {
	font-size: 10px;
	color: #808080;
	border-right: 1px solid grey;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: flex-end;
	padding-right: 5px;
}
.graph-content {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
	height: 300px;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}

.graph-bar {
	flex-grow: 1;
	background-color: grey;
	width: 16px;
	margin: 0 2px;
}

.graph-x-axis {
	/* border-top: 1px solid grey; */
}


/* Tooltip - move to another file? */
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 8px;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 110%;
	white-space: nowrap;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}