body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input {
	font: inherit;
	font-size: 16px !important;
}

.dragging-file {opacity: 0.5;}

@media (prefers-color-scheme: dark) {
	body {
		color: #b0b7d1;
	}
}